

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#errorPanel {
    display: none;
}

#registerSuccess {
    display: none;
}

#loginForm a {
    display: none;
}

#userProfileContainer {
    display:none;
}

.glyphicon {
    top: 2px;
}